<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales Data Upload</title>
</head>
<body>
    <h2>Upload Sales Data</h2>
    <form method="post" enctype="multipart/form-data" action="{% url 'sales:upload' %}">
        {% csrf_token %}
        <input type="file" name="file" accept=".tab">
        <button type="submit">Upload</button>
    </form>
</body>
</html>